*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(34, 56, 67);
    padding: 20px;
    color: rgb(239, 241, 243);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
}
div:first-child{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 56, 67);
    border-radius: 1rem;
    color: rgb(239, 241, 243);
    box-shadow: 15px 15px  rgb(215, 122, 97);
    padding: 20px;
    gap: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-size: larger;
}
input{
    padding: 5px 25px;
    border: 2px solid rgb(239, 241, 243);
    background-color: rgb(215, 122, 97);
}
button{
    padding: 7px 25px;
    background-color: rgb(50, 162, 135);
    color: rgb(239, 241, 243);
    cursor: pointer;
    transition: all 0.5s ease;
}
button[type="submit"]{
    background-color: rgb(108, 70, 78);
}
button:hover{
    transform: scale(1.1);
}
#tabla{
    display: none;
}
th{
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(239, 241, 243);
}
td{
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(239, 241, 243);
}
footer{
    background-color: rgb(34, 56, 67);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mostrar{
    display: flex;
}