*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, rgb(179, 179, 100), red);
}
.cont1{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    border: 1px solid red;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    transition: all 0.5s ease;

}
textarea{
    width: 200px;
    height: 40px;
    max-width: 450px;
    max-height: 100px;
    min-width: 170px;
    min-height: 29px;
    padding: 8px;
    border-radius: 10px;
    
}
textarea:focus{
    outline: 2px solid red;
}
.btns{
    display: flex;
    gap: 10px;
    margin: 15px;
}
button{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    transform: scale(1.1);
}
#btn1{
    background-color: rgb(61, 245, 61);
}
#btn2{
    background-color: red;
}
.tabla{
    display: flex;
    justify-content: center;   
}
table{
    display: none;
    transition: all 0.5s ease;
    padding: 15px;
    border: 1px solid red;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}
th{
    border: 1px solid red;
    padding: 5px;
}
td{
    border: 1px solid red;
    padding: 5px;

}
tr{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: larger;
}